{{!-- {{> header}} --}}
{{!-- <script>
  const level2happy = ['stoked', 'frothed', 'joyful', 'peaceful']
</script> --}}
{{!-- <script src="../public/data.js"></script> --}}

<div class="row col-md-12">
{{#each levelTwo}}
            <a href="/happy/{{id}}" class="btn btn-default buttonhappy col-md-5" role="button">{{id}}</a>
{{/each}}
</div>

