<body>
    
  <div class="container">
    <div class="content">
      {{> header}}
      
      <div class= "col-md-12 firstPrompts">
        <div class="selection-one">
          <button class="btn btn-default col-md-2 levelOneHappy">
            <a href="/happy" class="">Happy</a>
          </button>
        </div>
        <div class="selection-two">  
          <button class="btn btn-default col-md-2 levelOneSad">
            <a href="/sad">Sad</a>
          </button>
        </div>
        </div>

    </div>
  </div>


</body>