 
          <div class="row col-md-12">
            
            <a href="/happy" class="btn btn-default buttonhappy col-md-5" role="button">Happy</a>
            <a href="/sad" class="btn btn-default buttonsad col-md-5" role="button">Sad</a>
            
          </div>
 